<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/plane.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Here are some instructions to calculate our best travel prices, follow along!</p>
        <p>First off all you need to check our possible routes at the "Possible Routes" tab.</p>
        <p>After you choose your destination you need to click on the "Travel" tab and insert at the search field your desired route.</p>
        <p>It should be something like this: GRU-BRC, and then you need to click on the search button.</p>
        <p>Now we will calculate and show to you our best price for your route!</p>
        <p>If you have futher questions fell free to contact GT Flight Company!</p>
    </div>
    {{>footer}}

</body>

</html>