<!DOCTYPE html>

<html>

<head>
    <title>GT Flight Company</title>
    <link rel="icon" href="/img/plane.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="main-content">
        {{>header}}

        <p>Here you can find the best destinations in the world!</p>

        <form>
            <input placeholder="FROM-TO (GRU-BRC)">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        
    </div>


    {{>footer}}

    <script src="js/clientSide.js"></script>
</body>

</html>